@model IEnumerable<MeriMudra.Models.UserLoanApplyDetail>

@{
    List<MeriMudra.Models.City> city = (List<MeriMudra.Models.City>)ViewData["city"];
    ViewBag.Title = "User credit card detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Loan Applications</a>
        </li>
        <li class="breadcrumb-item active">List</li>
    </ol>
    <p>
        <div class="col-md-2">
            @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary btn-block" })
            @Html.AntiForgeryToken()
        </div>
    </p>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <div>
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> List
        </div>
        <div class="card-body">
            <div id="prtView" export-controler="UserLoanApplyDetails" export-action="prtUserLoanApplyDetails"></div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $(".nav-item").removeClass("active");
            $("#Loan-Applications").addClass("active");
        });
    </script>
}