USE [master]
GO
/****** Object:  Database [MeriMudra]    Script Date: 02-07-2018 14:30:51 ******/
CREATE DATABASE [MeriMudra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoneyMudra', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MoneyMudra.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MoneyMudra_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MoneyMudra_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeriMudra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeriMudra]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 02-07-2018 14:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[BankId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[LogoUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BusinessPartnerProgramme]    Script Date: 02-07-2018 14:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessPartnerProgramme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PAN] [nvarchar](max) NULL,
	[Aadhar] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_BusinessPartnerProgramme_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_BusinessPartnerProgramme] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CityMaster]    Script Date: 02-07-2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](255) NULL,
	[StateId] [int] NULL,
 CONSTRAINT [PK_Citys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company]    Script Date: 02-07-2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CreditCard]    Script Date: 02-07-2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCard](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[BankId] [int] NULL,
	[CardName] [nvarchar](250) NULL,
	[CardDescription] [nvarchar](max) NULL,
	[CardImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_CreditCard] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 02-07-2018 14:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[State] [nvarchar](max) NULL,
 CONSTRAINT [PK_StateMaster] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([BankId], [Name], [LogoUrl]) VALUES (1, N'ICICI', NULL)
INSERT [dbo].[Bank] ([BankId], [Name], [LogoUrl]) VALUES (2, N'HDFC', NULL)
SET IDENTITY_INSERT [dbo].[Bank] OFF
SET IDENTITY_INSERT [dbo].[BusinessPartnerProgramme] ON 

INSERT [dbo].[BusinessPartnerProgramme] ([Id], [FullName], [Mobile], [Email], [PAN], [Aadhar], [Company], [City], [CreatedDate]) VALUES (8, N'Ankit Sahay', N'9415151212', N'erankit19@hotmail.com', N'ADDDD1234E', N'0000 0000 0000', N'a4', N'lUCKNOW', CAST(N'2018-06-03 13:35:06.960' AS DateTime))
INSERT [dbo].[BusinessPartnerProgramme] ([Id], [FullName], [Mobile], [Email], [PAN], [Aadhar], [Company], [City], [CreatedDate]) VALUES (9, N'Ankit', N'9415151212', N'abc@123.com', N'ABCDE1234A', N'0000 0000 0000', N'WERTWER', N'WER', CAST(N'2018-06-04 23:06:31.890' AS DateTime))
SET IDENTITY_INSERT [dbo].[BusinessPartnerProgramme] OFF
SET IDENTITY_INSERT [dbo].[CityMaster] ON 

INSERT [dbo].[CityMaster] ([Id], [City], [StateId]) VALUES (1, N'Mumbai', 20)
INSERT [dbo].[CityMaster] ([Id], [City], [StateId]) VALUES (2, N'Delhi', 9)
INSERT [dbo].[CityMaster] ([Id], [City], [StateId]) VALUES (3, N'Bengaluru', 16)
GO
SET IDENTITY_INSERT [dbo].[CityMaster] OFF
SET IDENTITY_INSERT [dbo].[CreditCard] ON 

INSERT [dbo].[CreditCard] ([CardId], [BankId], [CardName], [CardDescription], [CardImageUrl]) VALUES (1, 1, N'Privilege Banking', N'VISA Platinum ICICI Bank Debit Cards', NULL)
SET IDENTITY_INSERT [dbo].[CreditCard] OFF
SET IDENTITY_INSERT [dbo].[StateMaster] ON 

INSERT [dbo].[StateMaster] ([StateId], [State]) VALUES (1, N'Andaman and Nicobar Islands')
INSERT [dbo].[StateMaster] ([StateId], [State]) VALUES (2, N'Andhra Pradesh')
INSERT [dbo].[StateMaster] ([StateId], [State]) VALUES (3, N'Arunachal Pradesh')
SET IDENTITY_INSERT [dbo].[StateMaster] OFF
ALTER TABLE [dbo].[CityMaster]  WITH CHECK ADD  CONSTRAINT [FK_CityMaster_StateMaster] FOREIGN KEY([StateId])
REFERENCES [dbo].[StateMaster] ([StateId])
GO
ALTER TABLE [dbo].[CityMaster] CHECK CONSTRAINT [FK_CityMaster_StateMaster]
GO
ALTER TABLE [dbo].[CreditCard]  WITH CHECK ADD  CONSTRAINT [FK_CreditCard_Bank] FOREIGN KEY([BankId])
REFERENCES [dbo].[Bank] ([BankId])
GO
ALTER TABLE [dbo].[CreditCard] CHECK CONSTRAINT [FK_CreditCard_Bank]
GO
USE [master]
GO
