@model MeriMudra.Models.ViewModels.CityGroupViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-xl-12">
        <b>Group Name : </b> @Model.GroupName
        <a href="/Admin/CityGroups/Edit/@Model.GroupId" class="btn btn-success float-right">Edit</a>
    </div>
</div>
<br />

@Html.Partial("CityGroupPartialView", Model)
