@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div class="slider" id="slider">
    <!-- slider -->
    <div class="slider-gradient-img">
        <img src="~/images/slider/slider-1.jpg" alt="MM - Financial Company" class="">
        <div class="container">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="slider-captions">
                    <!-- slider-captions -->
                    <h1 class="slider-title">Choose the Best Loan. Apply Now!</h1>
                    <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">
                        The lowest interest rate you need for the need you want! Call
                        <br>
                        +91 8318171383
                    </p>
                    <a href="#" class="btn btn-default">get started today</a>
                </div>
                <!-- /.slider-captions -->
            </div>
        </div>
    </div>
    <div>
        <div class="slider-gradient-img">
            <img src="~/images/slider/slider-2.jpg" alt="MM - Financial Company" class="">
            <div class="container">
                <div class=" col-xl-6 col-lg-6 col-md-12  col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">India's Leading Loans & Credit Cards Marketplace</h1>
                        <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">INDIA’S MOST TRUSTED ONLINE LOANS MARKETPLACE</p>
                        <a href="#" class="btn btn-default ">View Products</a>
                    </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-gradient-img">
            <img src="~/images/slider/slider-3.jpg" alt="MM - Financial Company" class="">
            <div class="container">
                <div class="col-xl-6 col-lg-6 col-md-12  col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">Credit Cards</h1>
                        <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">Apply Credit Card and avail attractive offers.</p>
                        <a href="#" class="btn btn-default">View Products</a>
                    </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rate-table">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                        <img src="~/images/mortgage.svg" alt="MM - Financial Company" class="icon-svg-1x">
                    </div>
                    <div class="rate-box">
                        <h1 class="loan-rate">8.40%</h1>
                        <small class="rate-title">Home Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                        <img src="~/images/loan.svg" alt="MM - Financial Company" class="icon-svg-1x">
                    </div>
                    <div class="rate-box">
                        <h1 class="loan-rate">11.99%</h1>
                        <small class="rate-title">Personal Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                        <img src="~/images/car.svg" alt="MM - Financial Company" class="icon-svg-1x">
                    </div>
                    <div class="rate-box">
                        <h1 class="loan-rate">8.50%</h1>
                        <small class="rate-title">Car Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                        <img src="~/images/credit-card.svg" alt="MM - Financial Company" class="icon-svg-1x">
                    </div>
                    <div class="rate-box">
                        <h1 class="loan-rate">15.50%</h1>
                        <small class="rate-title">Business Loans</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Loan Products We Offer</h1>
                    <p>We will match you with a loan program that meet your financial need. In short term liquidity, by striving to make funds available to them <strong>within 24 hours of application.</strong></p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>

        <div class="" id="service">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <div class="service-block-v3">
                        <div class="icon mb30">
                            <a href="#">
                                <img src="~/images/loan.svg" alt="MM - Financial Company" class="icon-svg-2x">
                            </a>
                        </div>
                        <div class="service-content">
                            <h2 class="service-title"><a href="#" class="title">Personal Loan</a></h2>
                        </div>
                        <div class="service-rate-block">
                            <h3 class="product-rate">11.99%</h3>
                            <p class="rate-text">Rate of interest: </p>
                        </div>
                        <a href="/Loan" class="btn btn-secondary btn-block">Apply now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <div class="service-block-v3">
                        <div class="icon mb30">
                            <a href="#">
                                <img src="~/images/mortgage.svg" alt="MM - Financial Company" class="icon-svg-2x">
                            </a>
                        </div>
                        <div class="service-content">
                            <h2 class="service-title"><a href="#" class="title">Home Loan</a></h2>
                        </div>
                        <div class="service-rate-block">
                            <h3 class="product-rate">8.40%</h3>
                            <p class="rate-text">Rate of interest: </p>
                        </div>
                        <a href="reg.aspx" class="btn btn-secondary btn-block">Apply now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <div class="service-block-v3">
                        <div class="icon mb30">
                            <a href="#">
                                <img src="~/images/car.svg" alt="MM - Financial Company" class="icon-svg-2x">
                            </a>
                        </div>
                        <div class="service-content">
                            <h2 class="service-title"><a href="#" class="title">Car Loan</a></h2>
                        </div>
                        <div class="service-rate-block">
                            <h3 class="product-rate">8.50%</h3>
                            <p class="rate-text">Rate of interest: </p>
                        </div>
                        <a href="reg.aspx" class="btn btn-secondary btn-block">Apply now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <div class="service-block-v3">
                        <div class="icon mb30">
                            <a href="#">
                                <img src="~/images/loan.svg" alt="MM - Financial Company" class="icon-svg-2x">
                            </a>
                        </div>
                        <div class="service-content">
                            <h2 class="service-title"><a href="#" class="title">Business Loan</a></h2>
                        </div>
                        <div class="service-rate-block">
                            <h3 class="product-rate">15.50%</h3>
                            <p class="rate-text">Rate of interest: </p>
                        </div>
                        <a href="reg.aspx" class="btn btn-secondary btn-block">Apply now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.section easy steps start-->
<div class="section-space80 ">
    <div class="container">
        <div class="row">
            <div class=" offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="section-title mb60 text-center">
                    <!-- section title start-->
                    <h1>Apply in three easy steps</h1>
                    <p></p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="how-it-block">
                    <h3 class="how-it-no">1.</h3>
                    <div class="how-it-content">
                        <h2>Complete the form</h2>
                        <p>First we need to know little about you and your needs for loan.</p>
                        <a href="reg.aspx" class="btn btn-default btn-sm">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">

                <div class="how-it-block">
                    <h3 class="how-it-no">2.</h3>
                    <div class="how-it-content">
                        <h2>Get Approval</h2>
                        <p>
                            Within five working hours of submitting your application, get approval status.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">

                <div class="how-it-block">
                    <h3 class="how-it-no">3.</h3>
                    <div class="how-it-content">
                        <h2>Secure Your Funds</h2>
                        <p>
                            After approval, we will call you to work out the details.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.section guide ends-->
<!-- /.section testimonials starts-->
<div class="section-space100 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center mb60">
                    <h1>Customer Reviews</h1>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- testimonial simple start -->
                <div class="testimonial-simple text-center">
                    <p class="testimonial-text">“I loved the customer service you guys provided me. That was very nice and patient with questions I had. I would really like definitely come back here”</p>
                    <div>
                        <div class="client-rating">
                        </div>
                        <span class="testimonial-name-inverse">Ambuj Mishra (Lucknow)</span>
                    </div>
                </div>
            </div>
            <!-- /.testimonial simple start -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- testimonial simple start -->
                <div class="testimonial-simple text-center">
                    <p class="testimonial-text">“We came out of their offices very happy with their service. They treated us very kind. Definite will come back. The waiting time was very appropriate.”</p>
                    <div>
                        <div class="client-rating">
                        </div>
                        <span class="testimonial-name-inverse">
                            Santosh Shukla (Mumbai)
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.testimonial simple start -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- testimonial simple start -->
                <div class="testimonial-simple text-center">
                    <p class="testimonial-text">"I want to express my appreciation for assistance that you provided over several years to help resolve a difficult financial situation when my debt was out of control”</p>
                    <div>
                        <div class="client-rating">
                        </div>
                        <span class="testimonial-name-inverse">
                            Deepak Agarwal (Varanasi)
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.testimonial simple start -->
        </div>
    </div>
</div>
<!-- /.section testimonials ends-->
<!-- /.section why us starts-->
    <%--    <div class="cta">
    <div class="container">
        <div class="row">
            <div class=" offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12 ">
                <div class="mb60 text-center section-title text-white">
                    <!-- section title start-->
                    <h1 class="text-white">Why People Choose Us</h1>
                    <p>We understand how to effectively guide you through the home loan or refinance process and avoid potential problems along the way. </p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="number-block text-white">
                    <div class="mb30"><i class="icon-command  icon-4x icon-white"></i></div>
                    <h3 class="text-white mb30">Dedicated Specialists</h3>
                    <p>Duis eget diam quis elit erdiet alidvolutp terdum tfanissim non intwesollis eu mauris.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="number-block text-white">
                    <div class="mb30"><i class="icon-calculator  icon-4x icon-white"></i></div>
                    <h3 class="text-white mb30">No Front Appraisal Fees!</h3>
                    <p>Integer faisis fringilla dolor ut luctus nisi volutpatIn terdum tferra dsim fermentum orci.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="number-block text-white">
                    <div class="mb30"><i class="icon-dialog  icon-4x icon-white"></i></div>
                    <h3 class="text-white mb30">Success Stories Rating</h3>
                    <p>Integer facilisis fringilla dolor volutpatIn terdum tfanissim velitliquam at fermentum orci.</p>
                </div>
            </div>
        </div>
    </div>
</div>--%>
<!-- /.section why us ends-->
<!-- /.section our partners starts-->
<div class="section-space40 bg-white">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Our Partners</h1>
                    <p>
                        We work with India's top Banks.<br>
                        Compare 60+ business funding options & check eligibility saving you time/ money.
                    </p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-1.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-2.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-3.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-4.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-5.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-6.jpg" alt="MM - Financial Company">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-7.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-8.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-9.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-10.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-11.jpg" alt="MM - Financial Company">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-12.jpg" alt="MM - Financial Company">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <img src="~/images/partners/bank-13.jpg" alt="MM - Financial Company">
            </div>

            @*<%--                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                    <img src="~/images/partners/bank-14.jpg" alt="MM - Financial Company">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                    <img src="~/images/partners/bank-15.jpg" alt="MM - Financial Company">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                    <img src="~/images/partners/bank-16.jpg" alt="MM - Financial Company">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                    <img src="~/images/partners/bank-17.jpg" alt="MM - Financial Company">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                    <img src="~/images/partners/bank-18.jpg" alt="MM - Financial Company">
                </div>--%>*@

        </div>
    </div>
</div>
<!-- /.section our partners ends-->
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title-->
                    <h1>We are here to help you</h1>
                    <p>Our mission is to deliver reliable, latest news and opinions.</p>
                </div>
                <!-- /.section title-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-calendar-3 icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Apply For Loan</h2>
                    <p>Looking to buy a car or home loan? then apply for loan now.</p>
                    <a href="#" class="btn-link">Get Appointment</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-phone-call icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Call us at </h2>
                    <h1 class="text-big">+91 83 18 17 13 83 </h1>
                    <p>info@merimudra.com</p>
                    <a href="#" class="btn-link">Contact us</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-users icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Talk to Advisor</h2>
                    <p>Need to loan advise? Talk to our Loan advisors.</p>
                    <a href="#" class="btn-link">Meet The Advisor</a>
                </div>
            </div>
        </div>
    </div>
</div>

