@model MeriMudra.Models.CreditCardViewModel.CreditCardViewModel
<div class="card-body">
    <div class="row">
        <div class="col-sm-12 col-md-3 space">
            @if (string.IsNullOrEmpty(Model.CardImageUrl))
            {
                Model.CardImageUrl = "/images/cards/card-1.png";
            }
            <img src="@Model.CardImageUrl" class="pull-center" />
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="form-group">

                <label class="fa fa-edit btn btn-outline-secondary float-right" onclick="location.href='/Admin/CreditCards/SaveCcBasic/@Model.creditCard.CardId'"> Edit </label>
                @if (Model.creditCard.CardId > 0)
                {
                    Html.ActionLink("View", "Details", new { id = Model.creditCard.CardId, @class = "fa fa-edit btn btn-outline-secondary float-right" });
                }
                <label> <b>Card Provider Bank: </b> </label>
                <label>@Model.creditCard.Bank.Name</label>
            </div>
            <div class="form-group">
                <label> <b>Card Name: </b> </label>
                <label>@Model.creditCard.CardName</label>
            </div>
            <div class="form-group">
                <label><b>Card Description: </b></label>
                <label> @Model.creditCard.CardDescription </label>
            </div>
        </div>
    </div>
</div>

