@model MeriMudra.Models.ViewModels.CreditCardViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-outline-info fa fa-backward" onclick="location.href = '/Admin/CreditCards/Index';"> Back to credit card list</button>
@Html.Partial("CcBasicPartialView", Model)
@Html.Partial("CcDetailPartialView", Model)
@section scripts {
    <script src="~/Areas/Admin/Scripts/ccVM.js"></script> }
