@model List<MeriMudra.Models.CreditCard>
@{
    ViewBag.Title = "AvilableCreditCardsAsPerApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MeriMudra.Models.UserCCApplyDetail UserCCApplyDetail = ViewBag.userCcApplication;
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-title">Credit Cards</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="wrapper-content bg-white pinside40">
                <div class="row">
                    <div id="alertSuccessMsg" class="alert alert-danger" style="display:none"></div>

                    @if (UserCCApplyDetail.CreditCardId > 0)
                    {
                        var appNo = "CC" + UserCCApplyDetail.Id;
                        <p> Your credit card application is submitted sucessfully. Your card application refference number is <b><i>@appNo </i></b> </p>
                    }
                    else if (Model.Count > 0)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="wrapper-content bg-white pinside40">
                                        <div class="row">
                                            @foreach (var cc in Model)
                                            {
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                    <div class="card-listing">
                                                        <!-- card listing -->
                                                        <div class="card-img">
                                                            <a href="#">
                                                                <img src="@cc.CardImageUrl" alt="MM - A Loan Company">
                                                            </a>
                                                        </div>
                                                        <div class="card-content">
                                                            <h3 class="card-name"><a href="#" class="title">@cc.CardName</a></h3>
                                                            <div class="card-features ">
                                                                <ul class="listnone">
                                                                    <li>@cc.CardDescription</li>
                                                                </ul>
                                                            </div>
                                                            <div class="btn-group">
                                                                <button onclick="InterestedFor(@cc.CardId,@UserCCApplyDetail.Id)" class="btn btn-default btn-sm">Select</button>
                                                                <a href="/CreditCard/CardDetail/@cc.CardId" target="_blank" class="btn btn-info btn-sm">Read More</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- /.card listing -->
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>}
                    else
                    {<p> We dint have any credit card avilable now for you.  </p>
                    }


                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function InterestedFor(cardId, AppId) {
        var _data = {
            CcApplicationId: AppId,
            Cardid: cardId
        }

        $.ajax({
            type: "POST",
            url: '/CreditCard/InterestedFor',
            data: _data,
            success: function (data) {
                var htmlStr = " Your credit card application is submitted sucessfully. Your card application refference number is  :CC" + AppId;
                alert(htmlStr);
            }
        });

    }
</script>